<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Labbook</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/register.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Prompt" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <header>
        <div class="topnav">
            <a href="/" class="home">LABBOOK</a>
            @using System.Security.Claims;
            @{ bool isAuthenticated = Context.User.Identity.IsAuthenticated;

                string role = "";
                if (isAuthenticated) role = Context.User.Claims.Where(claim => claim.Type ==
                     ClaimTypes.Role).FirstOrDefault().Value;

                if (role == "User")
                {
                    <a href="/Bookings/History?email=@(Context.User.Claims.Where(claim => claim.Type ==
                     ClaimTypes.Email).FirstOrDefault().Value)" class="history">Booking History</a>
                }

                @if (role == "Admin")
                {
                    <a asp-controller="Blacklists" asp-action="Index" class="history">Edit Users</a>
                    <a asp-controller="Tools" asp-action="List" class="history">Edit Tools</a>
                    <a asp-controller="Bookings" asp-action="List" class="history">Edit Bookings</a>
                }
                if (isAuthenticated)
                {
                    <a style="float:right">
                        @(Context.User.Claims.Where(claim => claim.Type ==
                        ClaimTypes.Name).FirstOrDefault().Value + " " + Context.User.Claims.Where(claim => claim.Type ==
                        ClaimTypes.Surname).FirstOrDefault().Value)
                    </a>
                    <a asp-controller="Login" asp-action="Logout" class="state" id="state" style="float:right">Logout</a>
                }
                else
                {
                    <a asp-controller="Login" asp-action="Index" class="state" id="state" style="float:right">Login</a>
                    <a asp-controller="Register" asp-action="Index" class="state" id="state" style="float:right">Register</a>
                }

            }



        </div>
    </header>
    

    @RenderBody()


    <footer class="border-top footer text-muted">


        <div class="container">
            &copy; 2021 - Labbook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

    </footer>

    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("JavaScript", required: false)




</body>
</html>