@model IEnumerable<RealLabBook.Models.Blacklist>

@{
    ViewData["Title"] = "Submit";
}

<h1>Submited</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                BookingID
            </th>
            <th>
                |
            </th>
            <th>
                ToolID
            </th>
           
            
            <th>
                |
            </th>
            <th>
                Start_time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["Bookedlist"] as List<Booking>)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingID)
            </td>
            <td>
                |
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToolID)
            </td>
           
            
            <td>
                |
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_time)
            </td>

        </tr>
        }
    </tbody>
</table>
