@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Access Denied</h1>

    <p>You dont have permission</p>
    <br>
    <a asp-controller="Tools" asp-action="Index"><h2>Return to All Lab</h2></a>
</div>