@model IEnumerable<RealLabBook.Models.Tool>

@{
    ViewData["Title"] = "LabBook";
}

<h1>This Lab</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Toolname)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Toolname)
                <a asp-controller="Bookings" asp-action="Create">Book Now</a>
            </td>
            
        </tr>
}
    </tbody>
</table>
