@{
    @using Newtonsoft.Json.Linq;
    ViewData["Title"] = "Login";
}

<div class="login-wrapper">
    <div class="login">
        <div class="login-decoration"></div>
        <div class="login-form">
            <p class="login-label">LABBOOK</p>
            <h1 class="login-title">Login</h1>
            <div class="form-wrapper">
                <form method="POST" asp-controller="login" asp-action="index" autocomplete="off">
                    <div class="input-wrapper">
                        <label class="label" for="email">Email Address</label>
                        <input class="@(ViewBag!=null &&ViewBag.errors != null &&ViewBag.errors.email !=null ? "input error" : "input")" type="email" id="email" name="email" required>
                        @if (ViewBag != null && ViewBag.errors != null && ViewBag.errors.email != null)
                        {
                            <div class="error">@(ViewBag.errors.email[0])</div>
                        }
                    </div>
                    <div class="input-wrapper">
                        <label class="label" for="password">Password</label>
                        <input class="@(ViewBag!=null &&ViewBag.errors != null &&ViewBag.errors.password !=null ? "input error" : "input")" type="password" id="password" name="password" required>
                        @if (ViewBag != null && ViewBag.errors != null && ViewBag.errors.password != null)
                        {
                            <div class="error">@(ViewBag.errors.password[0])</div>
                        }
                    </div>
                    <button class="action" type="submit">Login</button>
                    <p class="register-link">Haven't an account? <a href="/Register">Register</a></p>
                </form>
            </div>
        </div>
    </div>
</div>