<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["LabBook"] - Labbook</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Prompt" />


</head>
<body>
    <header>
        <a href="/"><h1>LABBOOK</h1></a>
        <h3>Booking History</h3>
    </header>

    @RenderBody()


    <footer class="border-top footer text-muted">


        <div class="container">
            &copy; 2021 - Labbook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-1.6.2.min.js")"></script>
    @RenderSection("JavaScript", required: false)




</body>
</html>