@model RealLabBook.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit User</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="password" />
            <input type="hidden" asp-for="status" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="surname" class="control-label"></label>
                <input asp-for="surname" class="form-control" />
                <span asp-validation-for="surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input type="email" asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                        <label asp-for="role" class="control-label"></label>
                        <input asp-for="role" class="form-control" />
                        <span asp-validation-for="role" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <input asp-for="role" type="radio" id="male" name="role" value="Admin">
                        <label asp-for="role" for="Admin">Admin</label><br>
                        <input asp-for="role" type="radio" id="female" name="role" value="User">
                        <label asp-for="role" for="User">User</label><br>
                        <input asp-for="role" type="radio" id="Banned" name="role" value="Banned">
                        <label asp-for="role" for="Banned">Banned</label>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
